{% extends 'base.html.twig' %}

{% block title %}Nos produits - {{ parent() }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://dummyimage.com/600x400/55595c/fff" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="product.html" title="View Product">{{ product.name }}</a></h4>
                    <p class="card-text">{{ product.description }}</p>
                    <div class="row">
                        <div class="col">
                            <p class="btn btn-danger btn-block">{{ product.price }} &euro;</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-success btn-block">Ajouter au panier</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
